.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Filter-list-container {
  background-color: yellow;
  height: 90vh;
  width: 35%;
}

.Visual-data-container {
  background-color: red;
  height: 90vh;
  width: 55%;
}
